* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ul li {
    list-style: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: none transparent;
    cursor: pointer;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.app {
    width: 98.93vw;
    height: 100vh;
}

.form-container {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-area {
    border: #b4b4b9 0.1px solid;
    box-shadow: 3px 3px #9f9e9e;
    padding: 5px;
}

.text-area:focus {
    outline: none;
    box-shadow: 6px 6px #9f9e9e;
    height: 470px;
}

.form-container input, select {
    margin-top: 10px;
    border-radius: 10px;
    border: #b4b4b9 0.1px solid;
    box-shadow: 3px 3px #9f9e9e;
    min-width: 300px;
    min-height: 35px;
    text-align: center;
    vertical-align: middle;
    transition: 0.3s;
}

.form-container input:focus {
    outline: none;
    min-width: 320px;
    min-height: 40px;
    box-shadow: 6px 6px #9f9e9e;
}

.form-container select:focus {
    outline: none;
    min-width: 320px;
    min-height: 40px;
    box-shadow: 6px 6px #9f9e9e;
}

.create-button {
    margin-top: 20px;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    border: #b4b4b9 0.1px solid;
    box-shadow: 3px 3px #9f9e9e;
}

.create-button:hover {
    transition: 0.5s;
    background-color: #0960b6;
    color: white;
    width: 165px;
    outline: none;
    font-size: 16px;
}

.remove-button {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: #b4b4b9 0.1px solid;
    box-shadow: 1px 1px #9f9e9e;
}

.remove-button:hover {
    transition: 0.5s;
    background-color: #0960b6;
    color: white;
    outline: none;
    box-shadow: 3px 3px #9f9e9e;
}

.task-table table {
    border-spacing: 20px 7px;
    overflow: visible;
    margin: 0;
    padding: 0;
}

.task-table-container {
    width: 80%;
    min-height: calc(100vh - 81.6px);
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 80px;
    background-color: #0960b6;
    display: flex;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-container ul {
    display: flex;
    width: 35%;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
}

.navbar-container a:hover {
    color: #b4b4b9;
    transition: 0.3s;
}

.home, .fun, .login, .registration {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 81.6px);
    height: 100%;
    margin: 0;
    padding: 0;
}

.home-container, .fun-container, .registration-container, .login-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.alert-message {
    position: fixed;
    bottom: 10px;
    left: 10px;
    min-width: 300px;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 12px 2px 12px;
    background-color: #e10e0e;
    color: white;
    font-size: 18px;
}


.managers-container {
    max-height: calc(100vh - 120px);
}
.managers-list {

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    position: relative;
}

.manager {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 0.1px solid black;
}

.manager span {
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1px solid black;
}

.manager span:first-child {
    width: 55%;
}

.manager span:nth-child(3) {
    border-right: none;
}


.button-container {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.instruction-image {
    width: 230px;
    position: absolute;
    left: 5px;
    top: 110px;
}

.instruction-text {
    position: absolute;
    left: 5px;
    top: 80px;
}